@font-face {
    font-family: 'Minecraftia';
    src: url('Minecraftia-Regular.woff2') format('woff2'),
        url('Minecraftia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 1.25rem;
}

#logo {
    text-align: center;
}

#logo img {
    max-width: 100%;
    height: auto;
}

.item-image {
    display: block;
    float: left;
    height: 1rem;
    padding-right: .5rem;
    width: 1rem;
}

.item-image img {
    max-width: 1rem;
    max-height: 1rem;
}

.item-name {
    display: block;
    float: left;
}

#output-container-metadata {
    font-size: 14px;
    margin-top: 1rem;
    text-align: right;
    width: 100%;
}

#output-container-indextable {
    border: 2px solid #333;
    border-radius: .75rem;
    margin-top: 1.25rem;
    padding: .75rem;
    display: flex;
    flex-wrap: wrap;
}

#output-container-indextable h2 {
    font-family: 'Minecraftia', sans-serif;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    color: #0000aa;
}

.shop-index-entry {
    width: 25%;
    display: inline-block;
    position: relative;
    flex-grow: 1;
}

.shop-index-entry a {
	color: #aaa;
	line-height: 1.25rem;
	font-family: 'Minecraftia', sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.index-shop-owner {
    display: none;
}

.shop-container {
    border: 2px solid #333;
    border-radius: .75rem;
    margin-top: 1.25rem;
    padding: .75rem;
}

.shop-info {
    margin-bottom: .75rem;
}

.shop-info .shop-name {
    color: #ffb046;
    display: block;
    font-family: 'Minecraftia', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5rem;
}

.shop-info .shop-owner {
    color: #808080;
}

.selling-title,
.buying-title {
    color: #ffffff;
    display: block;
    font-family: 'Minecraftia', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5rem;
}

.table-container {
    margin-top: .75rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: .75rem;
}

th,
td {
    border: 1px solid #444;
    padding: .5rem;
    text-align: left;
}

th {
    background-color: #333;
    color: #eee;
    font-family: 'Minecraftia', sans-serif;
    font-size: 16px;
    line-height: .75rem;
    padding-left: .75rem;
}

tr th:not(:first-child) {
    width: 12.5%;
}

tr td:not(:first-child) {
    text-align: right
}

.low-stock {
    color: red;
}

.sold-out {
    color: red;
}